h1 {
  text-align: center;
}

input {
  line-height: 22px;
  font-size: 14px;
}

.interactions {
  position: relative;
  margin: 5px;
  vertical-align: center;

  input[type=text] {
    width: 200px;
  }

  .add-movie {
    position: absolute;
    top: 6px;
    right: 0px;
  }
}

.movie_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .movie {
    flex-grow: 1;
    flex-basis: 440px;
    align-self: auto;
    position: relative;

    .flex-content {
      display: flex;
      flex-wrap: wrap;

      .rows {
        flex-basis: 180px;
        flex-grow: 1;
        align-self: auto;
      }

      .storyline {
        flex-basis: 250px;
        flex-grow: 2;
        align-self: auto;
      }

      .title {
        flex-basis: 350px;
        flex-grow: 1;
        align-self: auto;
      }

      .actions {
        flex-basis: 85px;
      }
    }

    h3 {
      margin: 10px 0px;
    }

    .actions {
      margin: 10px 0px;
    }
  }
}

.movie {
  border: 1px #998253 solid; 
  margin: 5px;
  padding: 0px 10px 10px 10px;
  background-color: floralwhite;
}
